
&zephyr_udc0
{
	cdc_acm_uart0
	{
		compatible = "zephyr,cdc-acm-uart";
		label = "Zephyr USB CDC-ACM";
	};
};

/ {
	zephyr,user
	{
		io-channels = <&adc1 7>;
	};
};

/ {
	aliases
	{
		pwm-led0 = &external_pwm_led;
	};

	pwmleds
	{
		compatible = "pwm-leds";
		external_pwm_led: external_pwm_led
		{
			pwms = <&flexpwm4_pwm2 0 PWM_MSEC(20) PWM_POLARITY_NORMAL>;
		};
	};

};

&pinctrl
{
	pinmux_adc1: pinmux_adc1
	{
		group0
		{
			pinmux = <&iomuxc_gpio_ad_b1_02_adc1_in7>;
			bias-disable;
			drive-strength = "r0-6";
			slew-rate = "slow";
			nxp,speed = "100-mhz";
		};
	};
	pinmux_flexpwm4: pinmux_flexpwm4
	{
		group0
		{
			pinmux = <&iomuxc_gpio_emc_04_flexpwm4_pwma2>;
			drive-strength = "r0-6";
			nxp,speed = "100-mhz";
			bias-pull-down;
			slew-rate = "fast";
		};
	};
};

&adc1
{
	status = "okay";
	pinctrl-0 = <&pinmux_adc1>;
	pinctrl-names = "default";
	#address-cells = <1>;
	#size-cells = <0>;

	channel@7
	{
		reg = <7>;
		zephyr,gain = "ADC_GAIN_1";
		zephyr,reference = "ADC_REF_INTERNAL";
		zephyr,acquisition-time = <ADC_ACQ_TIME_DEFAULT>;
		zephyr,resolution = <12>;
	};
};

&flexpwm4_pwm2
{
	status = "okay";
	pinctrl-0 = <&pinmux_flexpwm4>;
	pinctrl-names = "default";
};

/ {
	aliases
	{
		greenled = &externalledgreen;
		yellowled = &externalledyellow;
		redled = &externalledred;
	};

	leds
	{
		compatible = "gpio-leds";
		externalledgreen: gpio2
		{
			gpios = <&gpio3 18 GPIO_ACTIVE_LOW>;
			label = "Green battery indicator";
		};
		externalledyellow: gpio1
		{
			gpios = <&gpio4 31 GPIO_ACTIVE_LOW>;
			label = "Yellow battery indicator";
		};
		externalledred: gpio0
		{
			gpios = <&gpio3 23 GPIO_ACTIVE_LOW>;
			label = "Red battery indicator";
		};
	};
};

/ {
    aliases
	{
        mpu6050 = &mpu6050_sensor;
    };
};

&lpi2c1
{
    status = "okay";
    clock-frequency = <I2C_BITRATE_FAST>;

    mpu6050_sensor: mpu6050@68
	{
        compatible = "i2c-device";
        reg = <0x68>;
    };
};

